@import "config";

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 70px;
  background: #fff;
  height: 100vh;

  .image.words {
    margin-bottom: 30px;
  }

  .image img {
    width: 500px;
    height: 500px;
    border-radius: 6px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
  }
}

.words .heading {
  position: relative;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 60px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-bottom: 30px;
}

.words .heading:after {
  left: 0;
  transform: translateX(0px);
}

.heading span {
  color: $secondary-color;
}
.words p {
  color: rgb(118, 115, 115);
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: inherit;
  letter-spacing: 1px;
}

.words a {
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  margin-top: 10px;
  border-radius: 25px;
}

.words a:hover {
  color: #fff;
  background-color: $secondary-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  @include easeOut();
  border-radius: 15px;
  padding: 12px 20px;
  font-size: 18px;
}

.col-sm {
  flex: 1;
}

.col-lg {
  flex: 1;
}

@media (min-width: 1200px) {
  h1.lg-heading {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  h1.lg-heading {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  h1.lg-heading {
    font-size: 2.5rem;
  }
  h2.sm-heading {
    font-size: 1.5rem;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .col-lg {
    flex: 4;
    margin: 0;
    padding: 0;
  }
  .words p {
    color: #222;
    font-size: 12px;
    font-weight: 200;
    line-height: 18px;
    margin-bottom: 10px;
  }
}
